## Creating the Telecom Database

#### Creating the Customer Table

In [ ]:
%%sql
DROP TABLE IF EXISTS Customer ;

CREATE TABLE IF NOT EXISTS Customer (
  CustomerID INT NOT NULL,
  CustomerName VARCHAR(45) NOT NULL,
  CustomerAddress VARCHAR(90) NOT NULL,
  CustomerCity VARCHAR(45) NOT NULL,
  CustomerState CHAR(2) NOT NULL,
  CustomerZip CHAR(5) NOT NULL,
  CustomerEmail VARCHAR(320) NOT NULL UNIQUE,
  CustomerDOB DATE NOT NULL,
  PRIMARY KEY (CustomerID));

#### Creating the Plan Table

In [ ]:
%%sql
DROP TABLE IF EXISTS Plan ;

CREATE TABLE IF NOT EXISTS Plan (
  PlanID TINYINT NOT NULL,
  PlanType ENUM('Prepaid', 'Postpaid', 'Data') NOT NULL,
  PlanName VARCHAR(45) NOT NULL,
  PlanDuration SMALLINT NOT NULL,
  PlanCost DECIMAL(5,2) NOT NULL,
  PlanData DECIMAL(5,2) NULL,
  PlanVoice VARCHAR(10) NULL,
  PlanSMS VARCHAR(10) NULL,
  PRIMARY KEY (PlanID));

#### Creating the Number Table

In [ ]:
%%sql
DROP TABLE IF EXISTS Number ;

CREATE TABLE IF NOT EXISTS Number (
  NumberID INT NOT NULL,
  CustomerID INT NOT NULL,
  Number CHAR(12) NOT NULL UNIQUE,
  PRIMARY KEY (NumberID),
  FOREIGN KEY (CustomerID)
  REFERENCES Customer (CustomerID));

#### Creating the Number_Plan Table

In [ ]:
%%sql
DROP TABLE IF EXISTS Number_Plan ;

CREATE TABLE IF NOT EXISTS Number_Plan (
  Number_PlanID INT NOT NULL,
  NumberID INT NOT NULL,
  PlanID TINYINT NOT NULL,
  PlanActivation DATETIME NOT NULL,
  PlanRenewed DATETIME NOT NULL,
  PlanEnd DATETIME NOT NULL,
  PlanStatus ENUM('Active', 'Deactivated', 'Cancelled') NOT NULL,
  PRIMARY KEY (Number_PlanID),
  FOREIGN KEY (NumberID)
  REFERENCES Number (NumberID),
  FOREIGN KEY (PlanID)
  REFERENCES Plan (PlanID));

#### Creating the Transaction Table

In [ ]:
%%sql
DROP TABLE IF EXISTS Transaction ;

CREATE TABLE IF NOT EXISTS Transaction (
  TransactionID BIGINT NOT NULL,
  NumberID INT NOT NULL,
  PlanID TINYINT NOT NULL,
  TransactionType ENUM('Activation', 'Renewal', 'Change', 'Payment') NOT NULL,
  TransactionMode ENUM('Credit Card', 'E-Wallet') NOT NULL,
  TransactionDate DATETIME NOT NULL,
  TransactionAmount DECIMAL(5,2) NOT NULL,
  PRIMARY KEY (TransactionID),
  FOREIGN KEY (NumberID)
  REFERENCES Number (NumberID),
  FOREIGN KEY (PlanID)
  REFERENCES Plan (PlanID));

#### Creating the Call_Traffic Table

In [ ]:
%%sql
DROP TABLE IF EXISTS Call_Traffic ;

CREATE TABLE IF NOT EXISTS Call_Traffic (
  CallID BIGINT NOT NULL,
  NumberID INT NOT NULL,
  CallDate DATETIME NOT NULL,
  CallDuration INT NOT NULL,
  CallType ENUM('Local', 'National', 'International') NOT NULL,
  CallCost DECIMAL(5,2) NOT NULL,
  PRIMARY KEY (CallID),
  FOREIGN KEY (NumberID)
  REFERENCES Number (NumberID));

#### Creating the Cancellation Table

In [ ]:
%%sql
DROP TABLE IF EXISTS Cancellation ;

CREATE TABLE IF NOT EXISTS Cancellation (
  CancellationID INT NOT NULL,
  Number_PlanID INT NOT NULL UNIQUE,
  CancellationDate DATETIME NOT NULL,
  CancellationReason VARCHAR(100) NULL,
  PRIMARY KEY (CancellationID),
  FOREIGN KEY (Number_PlanID)
  REFERENCES Number_Plan (Number_PlanID));

## Populate Tables

#### Add customer details to the Customer Table

In [ ]:
%%sql 

INSERT INTO Customer(CustomerID, CustomerName, CustomerAddress, CustomerCity, CustomerState, CustomerZip, CustomerEmail, CustomerDOB)
    VALUES
    (1, 'Jordan Fisher', 'Apt. 212 7004 Orange Harbor', 'Riverside', 'CA', '92501', 'jordzworld@gmail.com', '1995-09-7'),
    (2, 'Ramya Das', '5411 5th Main St., Suite 502', 'Boston', 'MA', '02117', 'ramyad47@gmail.com', '1990-05-3'),
    (3, 'Callie Torrez', 'Apt. 710 5322 Latanya Courts', 'Oakland', 'CA', '94605', 'caltorrez@gmail.com', '1998-11-25'),
    (4, 'Alan Nguyen', 'Apt. 311 944 Wyman Point', 'Fargo', 'ND', '58126', 'alnguyen@gmail.com', '2003-02-11');
    
SELECT * FROM Customer;

#### Add plan information to the Plan Table

In [ ]:
%%sql 

INSERT INTO Plan(PlanID, PlanType, PlanName, PlanDuration, PlanCost, PlanData, PlanVoice, PlanSMS)
    VALUES
    (1, 'Prepaid', 'Prepaid 3 Month', 90, 45.00, 5.00, 'Unlimited', 'Unlimited'),
    (2, 'Prepaid', 'Prepaid 6 Month', 180, 150.00, 15.00, 'Unlimited', 'Unlimited'),
    (3, 'Postpaid', 'Postpaid Monthly', 30,  50.00, NULL, 'Unlimited', 'Unlimited'),
    (4, 'Data', 'Data-Only', 30, 20.00, 5.00, NULL, NULL);
    
SELECT * FROM Plan;

#### Add phone numbers to the Number Table

In [ ]:
%%sql 

INSERT INTO Number(NumberID, CustomerID, Number)
    VALUES
    (1, 1, '+16179174400'),
    (2, 2, '+13059459706'),
    (3, 2, '+19176101155'),
    (4, 3, '+18188071956'),
    (5, 4, '+19299444576'),
    (6, 4, '+13051991188');

SELECT * FROM Number;

#### Add transaction records to the Transaction Table

In [ ]:
%%sql 

INSERT INTO Transaction(TransactionID, NumberID, PlanID, TransactionType, TransactionMode, TransactionDate, TransactionAmount)
    VALUES
    (1, 1, 1, 'Activation', 'Credit Card', '2025-01-05 14:30:35', 45),
    (2, 4, 3, 'Activation', 'E-Wallet', '2025-02-10 16:10:37', 0),
    (3, 5, 1, 'Activation', 'E-Wallet', '2025-03-07 17:50:43', 45),
    (4, 4, 3, 'Payment', 'E-Wallet', '2025-03-12 13:17:48', 50),
    (5, 1, 1, 'Renewal', 'Credit Card', '2025-04-04 12:50:55', 45),
    (6, 4, 3, 'Payment', 'E-Wallet', '2025-04-11 12:10:43', 50),
    (7, 4, 3, 'Payment', 'E-Wallet', '2025-05-11 09:05:32', 50),
    (8, 4, 2, 'Change', 'E-Wallet', '2025-06-05 07:03:25', 150),
    (9, 4, 3, 'Payment', 'E-Wallet', '2025-06-05 17:35:25', 50),
    (10, 5, 1, 'Renewal', 'E-Wallet', '2025-06-05 13:06:38', 45),
    (11, 2, 3, 'Activation', 'Credit Card', '2025-06-20 21:37:02', 0),
    (12, 6, 4, 'Activation', 'E-Wallet', '2025-07-02 15:38:08', 20),
    (13, 1, 1, 'Renewal', 'Credit Card', '2025-07-03 10:25:42', 45),
    (14, 3, 2, 'Activation', 'Credit Card', '2025-07-05 09:50:25', 150),
    (15, 2, 3, 'Payment', 'Credit Card', '2025-07-20 18:45:29', 50),
    (16, 6, 4, 'Renewal', 'E-Wallet', '2025-08-01 12:23:46', 20),
    (17, 2, 3, 'Payment', 'Credit Card', '2025-08-19 17:39:10', 50);
    
SELECT * FROM Transaction;

#### Add phone numbers and their respective plans to the Number_Plan Table

In [ ]:
%%sql 

INSERT INTO Number_Plan(Number_PlanID, NumberID, PlanID, PlanActivation, PlanRenewed, PlanEnd, PlanStatus)
    VALUES
    (1, 1, 1, '2025-01-05 14:30:35', '2025-07-03 10:25:42', DATE_ADD('2025-07-03 10:25:42', INTERVAL 90 DAY), 'Active'),
    (2, 4, 3, '2025-02-10 16:10:37', '2025-05-11 09:05:32', '2025-06-05 07:03:25', 'Deactivated'),
    (3, 5, 1, '2025-03-07 17:50:43', '2025-06-05 13:06:38', DATE_ADD('2025-06-05 13:06:38', INTERVAL 90 DAY), 'Active'),
    (4, 4, 2, '2025-06-05 07:03:25', '2025-06-05 07:03:25', DATE_ADD('2025-06-05 07:03:25', INTERVAL 180 DAY), 'Active'),
    (5, 2, 3, '2025-06-20 21:37:02', '2025-08-19 17:39:10', DATE_ADD('2025-08-19 17:39:10', INTERVAL 30 DAY), 'Active'),
    (6, 6, 4, '2025-07-02 15:38:08', '2025-08-01 12:23:46', DATE_ADD('2025-08-01 12:23:46', INTERVAL 30 DAY), 'Active'),
    (7, 3, 2, '2025-07-05 09:50:25', '2025-07-05 09:50:25', DATE_ADD('2025-07-05 09:50:25', INTERVAL 180 DAY), 'Active');
 

SELECT * FROM Number_Plan;

#### Add call traffic records to the Call_Traffic Table

In [ ]:
%%sql 

INSERT INTO Call_Traffic(CallID, NumberID, CallDate, CallDuration, CallType, CallCost)
    VALUES
    (1, 1, '2025-01-05 17:05:34', 5, 'National', 0.45),
    (2, 1, '2025-01-27 14:35:21', 15, 'Local', 0.68),
    (3, 1, '2025-02-14 08:10:04', 65, 'Local', 2.93),
    (4, 4, '2025-02-20 08:05:03', 3, 'Local', 0.14),
    (5, 5, '2025-03-10 07:25:32', 3, 'International', 1.35),
    (6, 4, '2025-04-11 16:40:07', 5, 'Local', 0.23),
    (7, 4, '2025-05-01 17:45:23', 17, 'Local', 0.77),
    (8, 4, '2025-06-03 20:14:54', 20, 'Local', 0.9),
    (9, 4, '2025-06-17 10:32:05', 7, 'International', 3.15),
    (10, 2, '2025-06-23 07:42:08', 8, 'International', 3.60),
    (11, 5, '2025-07-04 10:35:21', 32, 'National', 2.88),
    (12, 1, '2025-07-05 21:17:50', 27, 'National', 2.43),
    (13, 3, '2025-07-10 22:05:52', 5, 'International', 2.25),
    (14, 2, '2025-07-18 21:32:04', 26, 'Local', 1.17),
    (15, 4, '2025-07-23 19:01:38', 34, 'Local', 1.53),
    (16, 3, '2025-07-27 09:27:30', 2, 'Local', 0.09),
    (17, 4, '2025-08-01 20:23:48', 23, 'Local', 1.04),
    (18, 5, '2025-08-02 09:42:12', 20, 'National', 1.8),
    (19, 2, '2025-08-07 17:41:57', 10, 'International', 4.50);
    

SELECT * FROM Call_Traffic;

#### Add cancellation records to the Cancellation Table, create trigger to update Number_Plan records accordingly

The trigger below is used to update a customer's plan end date and plan status when a cancellation is made.The end date is updated to the date of cancellation, and the plan status is set to "Cancelled".

In [ ]:
%%sql

CREATE TRIGGER add_cancellation
AFTER INSERT on Cancellation
FOR EACH ROW
BEGIN
    UPDATE Number_Plan
    SET PlanEnd = NEW.CancellationDate, PlanStatus = 'Cancelled'
    WHERE Number_PlanID = NEW.Number_PlanID;
END;

In [ ]:
%%sql 

INSERT INTO Cancellation(CancellationID, Number_PlanID, CancellationDate, CancellationReason)
VALUES(1, 6, '2025-08-10 19:34:07', 'Don''t need a data plan anymore');

In [ ]:
%%sql
SELECT * FROM Cancellation;

In [ ]:
%%sql
SELECT * FROM Number_Plan;

## Creating and Running Queries

1.) I first selected the relevant columns from the Customer, Number, and Plan tables. I then joined Number and Customer on CustomerID, Number_Plan and Number on NumberID, and Plan and Number Plan on PlanID to show accurate details for each customer.

In [ ]:
%%sql

SELECT C.CustomerID, C.CustomerName, N.Number, P.PlanName, NP.PlanActivation, NP.PlanEnd, NP.PlanStatus 
    FROM Customer AS C
    INNER JOIN Number AS N ON N.CustomerID = C.CustomerID                 
    INNER JOIN Number_Plan AS NP ON NP.NumberID = N.NumberID              
    INNER JOIN Plan AS P ON P.PlanID = NP.PlanID;

2.) I selected the relevant columns from the tables Customer, Number, and Call_Traffic. To display the call traffic details for each customer individually, I joined Number and Customer on CustomerID, and join Call_Traffic and Number on NumberID.

In [ ]:
%%sql

SELECT C.CustomerID, C.CustomerName, N.Number, CT.CallDate,  CT.CallDuration, CT.CallType, CT.CallCost
    FROM Customer AS C
    INNER JOIN Number AS N ON N.CustomerID = C.CustomerID              
    INNER JOIN Call_Traffic AS CT ON CT.NumberID = N.NumberID;

3.) To create a revenue report that shows the revenue for each plan, I selected the relevant columns from the Plan table, and then created an aggregate column called "TotalRevenue" to show the total for each plan (based on TransactionAmount in the Transaction table). I then joined Plan and Transaction on PlanID, then grouped the results by PlanID and PlanName to show the revenue for each plan. I sorted the results in order of the TotalRevenue aggregate column in order to show the plans that had the highest revenue first.

In [ ]:
%%sql

SELECT P.PlanID, P.PlanName, SUM(T.TransactionAmount) AS TotalRevenue
    FROM Transaction AS T
    INNER JOIN Plan AS P ON P.PlanID = T.PlanID          
GROUP BY P.PlanID, P.PlanName                            
ORDER BY 3 DESC;